# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://username:password@host:port/database_name?schema=app"

# NextAuth Authentication Secret (Generate a secure key using `openssl rand -base64 33`)
AUTH_SECRET=""

# SMTP Email Configuration (used for sending admin verification/OTP emails via Gmail)
SMTP_USERNAME=""
SMTP_PASSWORD=""

# Cloudinary Configuration (used for uploading images)
CLOUDINARY_NAME=""
CLOUDINARY_API=""
CLOUDINARY_SECRET=""
